/* body {
    font-family: Arial;
    background: #e3f2fd;
    text-align: center;
}

.container {
    width: 350px;
    margin: 80px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

input {
    padding: 8px;
    width: 70%;
}

button {
    padding: 8px;
    cursor: pointer;
}

#weatherResult {
    margin-top: 20px;
} */

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* Background */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
}

/* Main Container */
.container {
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Title */
h1 {
    margin-bottom: 20px;
    color: #333;
}

/* Input Box */
input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    margin-bottom: 10px;
    transition: 0.3s;
}

input:focus {
    border-color: #4facfe;
    box-shadow: 0 0 5px rgba(79, 172, 254, 0.5);
}

/* Button */
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #4facfe;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #00c6ff;
    transform: scale(1.05);
}

/* Weather Result */
#weatherResult {
    margin-top: 20px;
    padding: 15px;
    background: #f4f4f4;
    border-radius: 10px;
}

#weatherResult h3 {
    margin-bottom: 10px;
    color: #333;
}

#weatherResult p {
    margin: 5px 0;
    font-size: 15px;
    color: #555;
}